:root{
    --orange-text: #FA7436;
    --black-text: #222222;
    --paragraph-text: #666666;
    --background-color: #f7f8fc;
    -moz-background-color-secondary: #fefcfb;
    --background-price: #FFE7DB;
} 
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}
body{
    background-color: var(--background-color);
}
.navbar{
    width: 100%;
    height: 114px;
    background-color: var(--background-color);
    padding: 0;
}
.container-fluid{
    padding: 0;
}
a.nav-link{
    font-size: 1.6rem;
    color: var(--black-text);
    font-family: "Poppins";
    font-weight: 400;
    line-height: 2.4rem;
}
.navbar__button .btn, .btn{
    width: 160px;
    height: 50px;
    font-family: "poppins";
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 600;
    border-radius: 5px;
    margin: 0;
    text-decoration: none;
}
.btn:nth-child(1){
    background-color: var(--background-color);
    border: 1px solid var(--orange-text);
    color: var(--orange-text);
}
.btn:nth-child(2){
    background-color: var(--orange-text);
    border: none;
    color: var(--background-color);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.24);
}
.row>div{
    padding: 0;
    border: 0 solid;
}
.login-section{
    background-color: var(--background-color);
    padding-bottom: 100px;
}
.login-section-col1{
    width: 40%;
    height: auto;
}
.login-section-card{
    width: 100%;
    height: 100%;
    border: none;
    background-color: var(--background-color);
}
.login-section .card-title, .login-section .card-title span{
    font-family: "Volkov";
    font-weight: 700;
    color: var(--black-text);
    font-size: 6.4rem;
    line-height: 70px;
    margin-top: 70px;
    margin-bottom: 40px;
}
.login-section .card-title span{
    font-size: 6.4rem;
    color: var(--orange-text);
}
.login-section .card-body{
    padding: 0;
    height: auto;
}
.login-section .card-text{
    font-family: "Poppins";
    font-weight: 400;
    color: var(--paragraph-text);
    font-size: 2rem;
    line-height: 40px;
    margin-bottom: 90px;
}
.login-section .card-link{
    padding: 18px 28px;
    font-family: "Poppins";
    font-weight: 500;
    color: var(--orange-text);
    font-size: 1.8rem;
    line-height: 32px;
    border-radius: 5px;
    border: 1px solid var(--orange-text);
    text-decoration: none;
}
.login-section__image{
    background-color: var(--background-color);
}
.login-section__image .img-fluid{
    width: 100%;
}
.container-explore{
    background-color: var(--background-color);
    margin-top: 80px;
}
.container-explore .col h6{
    font-family: "Poppins";
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 24px;
    color: var(--black-text);
}
.container-explore .col span{
    display: inline-block;
    width: 12px;
    height: 7px;
    background-image: url(../assets/logos/orange-arrow.svg);
    background-size: cover;
    margin-bottom: 4px;
}
.container-explore .col p{
    font-family: "Poppins";
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 18px;
    color: var(--paragraph-text);
}
.container-explore .row{
    background-color: #ffffff;
    padding: 40px 0px 33px 30px ;
}
.container-explore .explore__button{
    font-size: 1.8rem;
    background-color: var(--orange-text);
    border: none;
    color: var(--background-color);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.24);
}
.bg-shadow{
    padding: 10rem;
    background-color: var(--background-color-shadow);
}
.second-tittle, .second-tittle span{
    font-size: 5rem;
    font-family: "Volkov";
    font-weight: 700;
    text-align: center;
}
.second-tittle span{
    font-size: 5rem;
    color: var(--orange-text);
}
.secondary-subtext{
    margin: 1rem  34%;
    font-family: "Poppins";
    font-weight: 400;
    color: var(--paragraph-text);
    font-size: 1.6rem;
    text-align: center;
}
.necessary-things-container{
    background-color: var(--background-color);
    padding: 100px 0;
}
.necessary-things-title h3, .necessary-things-title h3 span{
    padding-bottom: 20px;
    font-family: "Volkhov";
    font-weight: 700;
    color: var(--black-text);
    font-size: 4.8rem;
    line-height: 54px;
}
.necessary-things-title img{
    position: absolute;
    right: 500px;
}
.necessary-things-title h3 span{
    color: var(--orange-text);
}
.necessary-things-title p{
    padding-bottom: 64px;
    width: 38%;
    font-family: "Poppins";
    font-weight: 400;
    color: var(--paragraph-text);
    font-size: 1.8rem;
    line-height: 32px;
}
.container{
    background-color: var(--background-color);
}
.necessary-things-cards .col-3{
    width: 370px;
    height: 278px;
    border-radius: 8px;
    padding-right: 0;
}
.necessary-things-cards .col-3 h6{
    font-family: "Poppins";
    font-weight: 600;
    color: var(--black-text);
    font-size: 2.4rem;
    line-height: 34px;
}
.necessary-things-cards .col-3 p{
    margin-top: 25px;
    font-family: "Poppins";
    font-weight: 400;
    color: var(--paragraph-text);
    font-size: 1.6rem;
    line-height: 40px;
    margin-bottom: 90px;
}
.card-destiny, .card-destiny img{
    width: 30rem;
}
.card-destiny{
    box-shadow: 0px 8px 16px rgba(0,0,0,0.24);
    margin: 0 1.5rem;
    border-radius: 8px;
}
.card-destiny-info{
    padding: 3rem 1.5rem 3rem 1.5rem;
    display: flex;
}
.card-destiny-info h6{
    font-family: "Poppins";
    font-weight: 500;
    color: var(--black-text);
    font-size: 2.8rem;
    text-align: start;
}
.card-destiny-info p, del, span{
    font-family: "Poppins";
    font-weight: 400;
    color: var(--black-text);
    font-size: 1.6rem;
    text-align: start;
}
.locate{
    display: flex;
    align-items: center;
    padding-top: 1.5rem;
}
.locate img{
    margin-top: -1rem;
    margin-right: 0.8rem;
    width: 2rem;
}
.card-destiny-info div{
    width: 50%;
}
.other-info{
    padding: 1rem 0 0 0;
}
.other-info p{
    text-align: right;
    line-height: 26px;
}
.text-vac{
    margin-top: -0.8rem;
    width: 40%;
}
#btn-vac{
    display: flex;
    align-items: center;
    justify-content: center; 
    margin: 5rem 0;
}
#btn-best-vac{
    display: flex;
    align-items: center;
    justify-content: end; 
    margin-bottom: 3rem;
}
.after-price{
    padding-top: 1rem;
}
.other-info span{
    background-color: var(--background-price);
    border-radius: 10px;
    padding: 0.5rem;
    margin-left: 1rem;
    color: var(--orange-text);
    font-weight: 500;
}
.boton-next{
    padding: 0 1.5rem;
}
.best-vac-card .presentation{
    width: 100%;
}
.best-vac-card{
    box-shadow: 0px 8px 16px rgba(0,0,0,0.24);
    border-radius: 16px;
    width: 32%;
}
.text-best-vac-card{
    display: flex;
    justify-content: center;
}
.card-center{
    margin: 0 2%;
}
.sec1-best-vac{
    margin: 2.5rem 0 2.5rem 2.5rem;
    width: 50%;
}
.sec2-best-vac{
    margin: 2.5rem 2.5rem 2.5rem 0;
    width: 50%;
}
.arrow-best-vac{
    display: flex;
}
.arrow-best-vac p{
    padding: 0.8rem 0 0 1.2rem;
}
.sec1-best-vac h6{
    font-size: 2.8rem;
    font-weight: 500;
}
.sec1-best-vac p{
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--paragraph-text);
}
.sec2-best-vac h6{
    font-size: 2.8rem;
    font-weight: 600;
    color: var(--orange-text);
    text-align: end;
}
.sec2-best-vac p{
    padding-top: 0.8rem;
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--paragraph-text);
    text-align: end;
}
.necessary-things-cards .col-3{
    padding: 35px;
    background-color: white;
}
.necessary-things-cards .col-3 img{
    display: inline-block;
    width: 48px;
    height: 48px;
    margin-bottom: 50px;
}

/* FOOTER */
footer{
    margin-bottom: 70px;
    margin-top:200px;
}
.contact-container{
    margin-bottom: 30px;
}
.contact-container-left P{
    font-family: "Poppins";
    font-weight: 500;
    color: var(--paragraph-text);
    font-size: 1.6rem;
    line-height: 32px;
}
.contact-container-right h5{
    font-family: "Poppins";
    font-weight: 600;
    color: var(--black-text);
    font-size: 2.1rem;
    line-height: 26px;
    text-decoration: none;
}
.contact-container-right li{
    width: 200px;
    margin-bottom: 12px;
}
.contact-container-right a{
    width: 200px;
    font-family: "Poppins";
    font-weight: 400;
    color: var(--paragraph-text);
    font-size: 1.8rem;
    line-height: 26px;
    text-decoration: none;
}
.copyright-container{
    border-top: 1px solid var(--paragraph-text);
    margin-top: 30px;

}
.copyright-container p{
    font-family: "Poppins";
    font-weight: 400;
    color: var(--paragraph-text);
    font-size: 1.6rem;
    line-height: 26px;
    text-decoration: none;
}
